*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color:rgb(253, 250, 250);
}
/* Logo Section */
#logoHolder{
    width: 100%;
    height: 100px;
}
#logo img{
    width: 90px;
    object-fit: cover;
    padding: 13px;
    border-radius: 50%;
}
#logo h2{
    margin-top: -50px;
    margin-left: 80px;
    font-size: 23rem;
}
#logo span{
    color: rgb(18, 79, 211);
}
#navReveal {
    opacity: 0;
    margin-left: 280px;
    object-fit: cover;
}
/* Login section */
#logo img{
    width: 55px;
    object-fit: cover;
    padding: 12px;
    border-radius: 50%;
}
#logo h2{
    margin-top: -41px;
    margin-left: 50px;
    font-size: 20px;
}
#logo span{
    color: rgb(18, 79, 211);
}
.loginHolder{
    width: 100%;
    background-color: rgb(5, 5, 5);
    width: 380px;
    height: 430px;
    margin: 0 auto;
    padding: 25px;
    margin-top:90px;
    color: rgb(241, 236, 236);
    font-size: 19px;
    border-radius: 10px;
}
#imgHolder{
    width: 100%;
    height: 77px;
    display: flex;
    margin-top: -58px;
}
#imgHolder img{
    width: 70px;
    border-radius:50%;
    margin: 0 auto;
}
form input,button{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 9px;
    padding: 10px;
}
button,#submit{
    font-size: 17px;
    justify-content: center;
    height: 35px;
    background-color:rgb(8, 64, 250);
    margin-bottom: 40px;
}
button a{
    color: rgb(250, 248, 248);
    text-decoration: none;
}
#login p{
    font-size: 17px;
}
#loginLinks a{
    color: rgb(49, 97, 255);
    text-decoration: none;
}

#sup{
    width: 100%;
    margin-top: 20px;
}
#sup p{
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: rgb(253, 5, 5);
}
button:hover,#submit:hover{
    background-color: rgb(252, 5, 5);
    color: white;
}
#loginLinks a:hover{
    color: rgb(252, 5, 5);
}
/* sign up page */
.signHolder{
    width: 100%;
    background-color: rgb(138, 136, 136);
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    margin-top:90px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    border-radius: 5px;
    margin-bottom: 80px;
}
/* home page */
#headerHolder{
    background-color:rgb(231, 230, 230);
    height:10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#Homelogo img{
    width: 55px;
    object-fit: cover;
    padding: 12px;
    border-radius: 50%;
}
#Homelogo h2{
    margin-top: -41px;
    margin-left: 50px;
    font-size: 20px;
}
#Homelogo span{
    color: rgb(18, 79, 211);
}
#navBar{
    max-width: 100%;
    height: auto;
}
#navHolder{
    height: 60px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
#navHolder ul{
    display: flex;
}
li{
    list-style: none;
}
li a{
    color:rgb(0,0,0);
    text-decoration: none;
    font-size: 17px;
    margin-left: 50px;
}
li a:hover{
    color: rgb(255, 0, 0);
}
#menu{
    position: relative;
    left: -400px;
}
/* home section */
#homeContainer{
    max-width: 100%;
    height: auto;
    background-color: rgb(247, 244, 244);
}
#homeHolder{
    max-width: 93vw;
    padding-top: 80px;
    margin: 0 auto;
    background-color: rgb(247, 244, 244);
    margin-bottom: 80px;
    display: flex;
    justify-content:space-around;
}
#homeHolder strong{
    font-size:40px;
    line-height: 49px;
}
#homeUser{
    font-size:17px;
    color: red;
}
#homeHolder em{
    font-size: 24px;
    line-height: 35px;
}
#homeHolder p{
    font-size: 19px;
}
#homeImg img{
    object-fit: cover;
    border-radius:32%;
}
#homeCTA{
    display: flex;
    margin-top: 50px;
}
#homeBTN2{
    margin-left: 100px;
    width: 150px;
    border: none;
}
#homeBTN1{
    width: 150px;
    border: none;
}
#Homelogo hr{
    opacity: 0;
}
/* about section */
#about{
    width: 100%;
    height: auto;
    background-color: rgb(244, 244, 244);
    padding-bottom: 80px;
    padding-top: 80px;
}
#about h3,#faqHolder h3{
    font-size: 22px;
    line-height: 16px;
    text-align: center;
}
#aboutHolder{
    display: flex;
    justify-content: space-evenly;
    max-width: 90%;
    margin:0 auto;
    padding-top: 50px;

}
#aboutImg img{
    width:auto;
    object-fit: cover;
    border-radius: 10px;
}
#aboutInfo p{
    margin-left:50px;
    line-height: 27px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#aboutInfo strong{
    font-size: 18px;
}
#homeBTN2{
    margin-left: 50px;
    border: none;
}
/* faq section */
#faqHolder{
    padding-top: 80px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: auto;
    padding-bottom:60px;
}
#faqs{
    max-width: 90vw;
    margin: 0 auto;
    padding-top: 30px;
}
#faqs h4{
    font-size: 1.1rem;
    line-height: 20px;
    padding-top: 10px;
    cursor: pointer;
}
#faqs p{
    font-size: 1rem;
    padding-top:5px;
    position: relative;
    /* left: -1000px; */
}
/* form section */
#signForm{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(244, 244, 244);

}
#formContentHolder{
    max-width: 90vw;
    margin: 0 auto;
padding-top: 70px;
display: flex;
height:500px;
}
#imgHolder{
    margin-top: 0px;
}
#imgHolder img{
    width:500px;
    height:500px;
    border-radius:40%;
    object-fit:contain;
    margin-left: 0;
}
#form{
    width: 800px;
    margin-left: -200px;
}
#text{
    width: 250px;
    border-radius: 5px;
}
#msg{
    padding-top:20px;
    height: 150px;
    width: 33vw;
}
#formSubmit{
    width: 200px;
    background-color: rgb(8, 8, 248);
    padding: 10px;
    font-size: 1rem;
    height: 33px;
    color: rgb(255, 255, 255);
}
#formSubmit:hover{
    background-color:rgb(248, 10, 10);
}
#form form{
    padding-top: 10px;
}
#form p{
    line-height: 30px;
    font-size: 1.4rem;
}

/* media queries for login page */
@media(max-width:720px){
    #logo img{
        width: 40px;
        margin: 0 auto;
    }
    #logo h2{
        font-size:12px;
    }
    #logoHolder{
        margin-top: 50px;
    }
    .loginHolder{
        width: 300px;
        height: auto;
        margin-top: 50px;
    }
    #imgHolder img{
        width: 70px;
    } 
    /* media queries for navbar */
    #headerHolder,#homeLogoHolder,#Homelogo{
      width:100vw;
      color: rgb(255, 255, 255);
      background-color: rgb(17, 16, 16);
      height:10vh;
      display: block;
    }
    #Homelogo{
        width:100%;
    }
    #Homelogo h2{
        font-size:1.4rem;
    }
    #homeLogoHolder{
        display: flex;
        justify-content: space-around;
    }
    #menu{
        width: 40px;
        margin-top:10px;
        margin-right: 10px;
        left: auto;
    }
    #navHolder ul{
        flex-direction: column;
        background-color: rgb(199, 199, 201);
        padding: 20px;
        margin-top: -20px;
        position: relative;
        /* left: -400px; */
        z-index:0;
    }
    #navHolder ul.active{
        z-index:1;
    }
    #navHolder ul li:hover{
        background-color: rgb(156, 156, 156);
    }
    #navHolder a{
        color: black;
        margin-bottom: 20px;
        line-height: 25px;
    }
    /* home media queries */
    #homeHolder{
        flex-wrap: wrap;
        padding-left:20px;
        padding-right: 10px;
        font-size: 1rem;
    }
    #homeInfo{
        margin-top: -40px;
    }
    #homeInfo strong{
        font-size: 2.2rem;
        line-height: 35px;
        justify-content: center;
    }
    #homeInfo em{
        font-size: 1.5rem;
        line-height: 25px;
        margin-top: 20px;
    }
    #homeContainer{
        position: relative;
    }
    #aboutHolder{
        flex-wrap: wrap;
    }
    #homeImg img,#aboutImg img{
        width:340px;
        object-fit: contain;
    }
    #homeCTA button{
    margin:10px;
    }

}
